.search_box{
    padding: 0.5rem;
    border-radius: 10px;
    margin-right: 0.5rem;
    border: 1px solid grey;
    outline: none;
}

.search_button{
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
}